<?xml version="1.0"?>
<!--
/**
 * NavinDBhudiya ProductRecommendation
 *
 * @category  NavinDBhudiya
 * @package   NavinDBhudiya_ProductRecommendation
 * @author    Navin Bhudiya
 * @license   MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Product Save After -->
    <event name="catalog_product_save_after">
        <observer name="product_recommendation_update_embedding"
                  instance="NavinDBhudiya\ProductRecommendation\Observer\ProductSaveAfter"/>
    </event>

    <!-- Product Delete Before -->
    <event name="catalog_product_delete_before">
        <observer name="product_recommendation_delete_embedding"
                  instance="NavinDBhudiya\ProductRecommendation\Observer\ProductDeleteBefore"/>
    </event>

    <!-- Mass Product Update -->
    <event name="catalog_product_attribute_update_before">
        <observer name="product_recommendation_mass_update"
                  instance="NavinDBhudiya\ProductRecommendation\Observer\ProductMassUpdate"/>
    </event>

</config>
